{% extends "task_base.html" %}

{% load static %}
{% block title %} Home {% endblock %}
{% block extraheaad %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
    <script type="text/javascript" src="/static/js/ws4redis.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script type="text/javascript">
        const OPERATOR_TYPE = "{{operator.operator_type|safe}}"
        const WS4REDIS_HEARTBEAT = {{ WS4REDIS_HEARTBEAT }}
        const WEBSOCKET_URI = "{{ WEBSOCKET_URI }}"
        var ws4redis = null
        $(document).ready(function($) {
            _dash = new Dashboard()
            _dash.getTasks()
        });
        
    </script>
{% endblock %}
{% block heading-title %}Task Managment - Dashboard{% endblock %}
{% block con-body %}
    <div class="row task-form">
        <div class="col-sm-12 task-header">
             TASK  LIST
            {% if operator.operator_type == 'manager' %}
                <span class="add_task" onclick="Dashboard.openModal('id01')">
                    <i class="fa fa-plus"></i> Add Task
                </span>
            {% endif %}
        </div>
        <div class="col-sm-12 task-form-body" id="task-body">
            <div class="notifications" id="notifications"></div>
            <label class="general-label">New Task(s)</label>
            <table class="table standardTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Creator</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="newtasks"></tbody>
            </table>
            <label class="general-label">Tasks</label>
            <table class="table standardTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Creator</th>
                        <th>Acceptor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tasks"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
