{% extends "task_base.html" %}

{% load static %}
{% block title %} Home {% endblock %}
{% block extraheaad %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
    <script src="/static/js/dashboard.js"></script>
    <script type="text/javascript">
        const OPERATOR_TYPE = "{{operator.operator_type|safe}}"
    </script>
{% endblock %}
{% block heading-title %}Task Managment - Dashboard{% endblock %}
{% block con-body %}
    <div class="row task-form">
        <div class="col-sm-12 task-header">
             TASK  LIST
            <span class="add_task" onclick="Dashboard.openModal('id01')">
                <i class="fa fa-plus"></i> Add Task
            </span>
        </div>
        <div class="col-sm-12 task-form-body" id="task-body">
            <label class="general-label">New Task(s)</label>
            <table class="table standardTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Creator</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="newtasks"></tbody>
            </table>
            <label class="general-label">Tasks</label>
            <table class="table standardTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Creator</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tasks"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
