{% extends "task_base.html" %}

{% load static %}
{% block title %} Home {% endblock %}
{% block extraheaad %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
    <script type="text/javascript" src="/static/js/ws4redis.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script type="text/javascript">
        const OPERATOR_TYPE = "{{operator.operator_type|safe}}"
        $(document).ready(function($) {
            _dash = new Dashboard()

            var ws4redis = WS4Redis({
                uri: '{{ WEBSOCKET_URI }}update_task?subscribe-broadcast',
                connecting: on_connecting,
                connected: on_connected,
                receive_message: Dashboard.socketTasks,
                disconnected: on_disconnected,
                heartbeat_msg: "{{ WS4REDIS_HEARTBEAT }}"
            });

            function on_connecting() {
                console.log('Websocket is connecting...')
            }

            function on_connected() {
                console.log('connected')
            }

            function on_disconnected(evt) {
                console.log('Websocket was disconnected: ' + JSON.stringify(evt))
            }
    
        });
        
    </script>
{% endblock %}
{% block heading-title %}Task Managment - Dashboard{% endblock %}
{% block con-body %}
    <div class="row task-form">
        <div class="col-sm-12 task-header">
             TASK  LIST
            {% if operator.operator_type == 'manager' %}
                <span class="add_task" onclick="Dashboard.openModal('id01')">
                    <i class="fa fa-plus"></i> Add Task
                </span>
            {% endif %}
        </div>
        <div class="col-sm-12 task-form-body" id="task-body">
            <div class="notifications" id="notifications"></div>
            <label class="general-label">New Task(s)</label>
            <table class="table standardTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Creator</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="newtasks"></tbody>
            </table>
            <label class="general-label">Tasks</label>
            <table class="table standardTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Creator</th>
                        <th>Acceptor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tasks"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
