<!DOCTYPE html>
<html>
    <head>
        {% block extraheaad %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv='cache-control' content='no-cache'>
            <meta http-equiv='expires' content='0'>
            <meta http-equiv='pragma' content='no-cache'>
            <title> {% block title %}{% endblock %}</title>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/base.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endblock%}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav">
                        <li class="title">{% block heading-title %}Task Managment{% endblock %}</li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    {% if operator %}
                    <ul class="nav navbar-nav navbar-right">
                        <div class="dropdowm">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <img src="/static/images/baseline-account_circle.svg"> <b>{{operator.username|title}}</b>
                                <span class="caret" style="margin: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu" style="z-index: 100">
                                <li>
                                    <a href="/logout/"><img src="/static/images/logout.svg" style="margin: auto; height: auto;"> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container con-body">
            <div id="id01" class="modal">
                <div class="modal-content animate">
                    <div class="container-demo">
                        <div class="row w3-card-header">
                            <div class='loader_modal' id='loader'></div>
                            <div class="col-sm-11" id="modal-heading">ADD  TASK</div>
                            <div class="col-sm-1">
                                <img src="/static/images/cancel-material.svg" class="cancel-material" onclick="Dashboard.close('id01')" />
                            </div>
                        </div>
                        <div class="row" id="modal-content-body">
                            <div class="group">
                                <input type="text" required id="title" autocomplete="off" maxlength="128" name="title" />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Title</label>
                            </div>
                            <div class="group">
                                <input type="text" required id="description" autocomplete="off" name="description" />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Description</label>
                            </div>
                        </div>
                        <div id="modal-content-footer"></div>
                    </div>
                </div>
            </div>
            {% block con-body %}
            {% endblock%}
        </div>
    </body>
</html>